<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Manager.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home_Tenant_representative</servlet-name>
        <servlet-class>controller.Tenant.Home_Tenant_representative</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyManagedApartments</servlet-name>
        <servlet-class>controller.Tenant.MyManagedApartments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApartmentDetail_Tenant</servlet-name>
        <servlet-class>controller.Tenant.ApartmentDetail_Tenant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>controller.Notification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Requests</servlet-name>
        <servlet-class>controller.Manager.Requests</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Requests</servlet-name>
        <url-pattern>/Requests</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AssignRequest</servlet-name>
        <servlet-class>controller.Manager.AssignRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssignRequest</servlet-name>
        <url-pattern>/AssignRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home_Tenant_representative</servlet-name>
        <url-pattern>/Home_Tenant_representative</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyManagedApartments</servlet-name>
        <url-pattern>/MyManagedApartments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApartmentDetail_Tenant</servlet-name>
        <url-pattern>/ApartmentDetail_Tenant</url-pattern>
    </servlet-mapping>
</web-app>
